<!-- FILEPATH: /Users/antoninfaure/Documents/projets/rjungius.github.io/_includes/carousel.html -->
<div class="tabs">
    <div class="tabs-buttons">
        <button class="tab-button active" onclick="showTab(1)">Plot 1</button>
        <button class="tab-button" onclick="showTab(2)">Plot 2</button>
        <button class="tab-button" onclick="showTab(3)">Plot 3</button>
        <button class="tab-button" onclick="showTab(4)">Plot 4</button>
        <button class="tab-button" onclick="showTab(5)">Plot 5</button>
        <button class="tab-button" onclick="showTab(6)">Plot 6</button>
        <button class="tab-button" onclick="showTab(7)">Plot 7</button>
    </div>

    <div class="tab-content">
        <div id="tab1" class="tab">
            <!-- Include the HTML file for the first plot -->
            <h4>Matching Diff Target Category</h4>
            {%  include plots/matching_diff_target_category.html %}

        </div>
        <div id="tab2" class="tab">
            <!-- Include the HTML file for the second plot -->  
            <h4>Matching Diff Start Category</h4>
            {% include plots/matching_diff_start_category.html %}
            
        </div>
        <div id="tab3" class="tab">
            <!-- Include the HTML file for the third plot -->
            <h4>Matching Diff Shortest Path</h4>
            {%  include plots/matching_diff_shortest_path.html %}

        </div>
        <div id="tab4" class="tab">
            <!-- Include the HTML file for the fourth plot -->
            <h4>Matching Diff Target PageRank</h4>
            {% include plots/matching_diff_target_pg.html %}

        </div>
        <div id="tab5" class="tab">
            <!-- Include the HTML file for the fourth plot -->
            <h4>Matching Diff Target PageRank</h4>
            {% include plots/matching_diff_start_pg.html %}

        </div>
        <div id="tab6" class="tab">
            <!-- Include the HTML file for the fifth plot -->
            <h4>Matching Diff Target Length</h4>
            {%  include plots/matching_diff_target_length.html %}

        </div>
        <div id="tab7" class="tab">
            <!-- Include the HTML file for the fifth plot -->
            <h4>Matching Diff Target Length</h4>
            {%  include plots/matching_diff_start_length.html %}

        </div>
        
    </div>
</div>
