*{
    margin:0px;
    padding:0px;
}

body {
    font-family: Arial, sans-serif;
    /* 800px is min-fig size */
    min-width: 1000px;
    min-height: 100vh;
}

/* Nav-Bar settings*/
header {
    background-color: #333;
    padding-top: 30px;
    width: 100%;
    height: 60px;
    margin-top: -60px;

    position: fixed;
    z-index: 1000;
}

header .navbar{
    /* border: 2px solid #15fa00; */
    display: flex;
    justify-content: center;
    align-items: center;
}

header .navbar ul {
    list-style: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
  
header .navbar li {
    margin-right: 20px; 
}
  
header .navbar a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5em; 
    transition: color 0.3s ease; 
}
  
header .navbar a:hover {
    color: #ff5733;
}

h1,h2,h3,h4 {
    text-align:center;
}

h1 {
    padding-top: 1em;
    padding-bottom: 1em;
    font-size:3em;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1em;
}

section {
    text-align: center;
    padding-top: 10px;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    
    /* background: #ff3333; */
    /* border: 5px solid #5eff00; */
}

/* Title section settings*/
div.title{
    /* height: fit-content; */
    width: 100%;
    margin-top: 60px;
    position: relative;
    text-align: center;
}
img.title{
    width: 100%;
    /* border: 5px solid #15d3d3; */
}
h1.hover_title{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:50;
    font-size:80px;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

h2.hover_title{       
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:50;
    font-size:30px;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
        1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

div {
    margin: auto;
    padding: auto;
    width: 100%;
    
    /* background-color: #f71cff;
    border: 5px solid #90f2ff; */
}

/* Controls placement of the Plots hoverable Control-icons*/
div.modebar-group{
    width:fit-content;
}
div.modebar--hover{
    width:fit-content;
    margin-right:0px;
}

a:link {
    color: #ffffff;
}
p a:hover {
    color: #ff5733;
}

footer {
    background-color: #333;
    color: white;
    margin-bottom: 0px;
    margin-top: 30px;
    width: 100%;
    /* border: 2px solid #00fff244; */

    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

p.info {
    padding: 1em;
    text-align: center;
    display: block;
    
    /* background: #ff0077; */
}


a.footnote{
    color: #000000;
    /* text-decoration: none; */
}

div.reference{
    color: #000000;
    align-items: center;
    /* border: 5px solid #ff0000; */
}
.reference ol {
    margin: auto;
    text-align: left;
    /* border: 5px solid #1eff00; */
    width: fit-content;
    
    list-style: none;
    counter-reset: ref-counter;
}

.reference ol li::before{
    color: #000000;
    counter-increment: ref-counter;
    content: "[" counter(ref-counter) "] ";
    display: inline;
    margin-right: 5px;
}

.reference ol li p {
    display: inline; 
}

p{
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: justify;
    /* border: 5px solid #48ff00; */
    width: 80%;
}

p.sup{
    font-size: 0.8em;
    vertical-align: super;
}

ul{
    margin-left: 20%;
    text-align: left;
    /* border: 5px solid #1eff00; */
}

/* ul li{
    color: #ff00ff;
} */