<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="icon" type="image/png"  href="assets/img/favicon.png">
    <title>{{ site.title | default: site.github.repository_name }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style2.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <ul>
          <!-- <li><a href="#top"><h1 class="head">GeoWiki</h1></a></li> -->
          <li><a href="#top">Home</a></li>
          <li><a href="#introduction">Intro</a></li>
          <li><a href="#initial-analysis">Initial Analysis</a></li>
          <li><a href="#naive-study">Naive Study</a></li>
          <li><a href="#observational-study">Observational Study</a></li>
          <li><a href="#conclusion">Conclusion</a></li>
          <!-- Add more list items for each section -->
        </ul>
      </nav>
    </header>
    
    <!-- Title and Titleimage -->
    <div class="title">
      <img class="title" src="assets/img/earth.jpg" />
      <p>
      <h1 class="hover_title">GeoWiki</h1>
      <h2 class="hover_title">An analysis of geographical bias Wikispeedia</h2>
      </p>
    </div>

    <section>
      {{ content }}
    </section>
 
    <footer>
        <div>
          <p class="info">
            <a href="https://github.com/epfl-ada/ada-2023-project-tddt-thedatadreamteam"><img src="assets/img/favicon.png" /></a>
          </p>
          <p class="info">
            Ruben Jungius, Jason Becker, Jiri Pospisil, Kike, Menéndez - 2023
          </p>
        </div>
    </footer>

    <script src="{{ site.baseurl }}/assets/js/navigation.js"></script>   
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
  </body>
</html>
